
<div class="animated fadeIn">
    <!-- 
  <h1 class="display-3">TB</h1>
  <hr />

  <accordion>
    <accordion-group heading="TB" [isOpen]="true">
      -->
      <table class="table-condensed">
        <thead>
          <tr class="table-condensed">
            <th >#</th>
            <th >Account break down</th>
            <th >Group as per audit record</th>
            <th >Last Year Audit</th>
            <th >Current Year Per Client</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of thisTB; index as i" class="table-condensed" >
            <td class="table-condensed">{{i}}</td>
            <td class="table-condensed" width="300px"><input style="width:100%" id="input{{i*3}}" type="text" class=".input-sm" [(ngModel)]='row["Account break down"]' ng-model-options="{'updateOn': 'default blur', 'debounce': { 'default': 250, 'blur': 0 }}" (keyup.enter)="keytab($event)" /></td>
            <td class="table-condensed" width="300px"><input style="width:100%" type="text" class=".input-sm" [(ngModel)]='row["Group as per audit record"]' ng-model-options="{'updateOn': 'default blur', 'debounce': { 'default': 250, 'blur': 0 }}" (keyup.enter)="keytab($event)" readonly /></td>
            <td class="table-condensed" width="200px"><input style="width:100%" id="input{{i*3+1}}"  type="number" step="1.0"  class=".input-sm" [(ngModel)]='row["Last Year Audit"]' ng-model-options="{'updateOn': 'default blur', 'debounce': { 'default': 250, 'blur': 0 }}" (keyup.enter)="keytab($event)" /></td>
            <td class="table-condensed" width="200px"><input style="width:100%" id="input{{i*3+2}}"  type="number" step="1.0"  class=".input-sm" [(ngModel)]='row["Current Year Per Client"]' ng-model-options="{'updateOn': 'default blur', 'debounce': { 'default': 250, 'blur': 0 }}" (keyup.enter)="keytab($event)" /></td>
            <!-- 
            <td class="table-condensed"> 
              
              <accordion>
                <accordion-group [isOpen]="false" [panelClass]="customClass">
                  <span accordion-heading>
                    {{ getAdjustmentForHeader(row["Current Year Adjustment"]) }}
                  </span>
                  <div class="input-group ">
                    <div class="input-group-prepend ">
                      <span class="input-group-text "
                        style="width: 150px;">{{row["Current Year Adjustment"][0]["name"]}}</span>
                    </div>
                    <input type="number" step="1.0" class=".input-sm" aria-describedby="basic-addon3"
                    [(ngModel)]='row["Current Year Adjustment"][0]["value"]' ng-model-options="{'updateOn': 'default blur', 'debounce': { 'default': 250, 'blur': 0 }}"/>
                  </div>
                  <div class="input-group ">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        style="width: 150px;">{{row["Current Year Adjustment"][1]["name"]}}</span>
                    </div>
                    <input type="number" step="1.0" class=".input-sm" aria-describedby="basic-addon3"
                    [(ngModel)]='row["Current Year Adjustment"][1]["value"]' ng-model-options="{'updateOn': 'default blur', 'debounce': { 'default': 250, 'blur': 0 }}"/>
                  </div>
                  <div class="input-group ">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        style="width: 150px;">{{row["Current Year Adjustment"][2]["name"]}}</span>
                    </div>
                    <input type="number" step="1.0" class=".input-sm" aria-describedby="basic-addon3"
                    [(ngModel)]='row["Current Year Adjustment"][2]["value"]' ng-model-options="{'updateOn': 'default blur', 'debounce': { 'default': 250, 'blur': 0 }}"/>
                  </div>
                  <div class="input-group ">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        style="width: 150px;">{{row["Current Year Adjustment"][3]["name"]}}</span>
                    </div>
                    <input type="number" step="1.0" class=".input-sm" aria-describedby="basic-addon3"
                    [(ngModel)]='row["Current Year Adjustment"][3]["value"]' ng-model-options="{'updateOn': 'default blur', 'debounce': { 'default': 250, 'blur': 0 } }"/>
                  </div>
                  <div class="input-group ">
                    <div class="input-group-prepend">
                      <input type="text" class=".input-sm" style="width: 150px;" aria-describedby="basic-addon3"
                      [(ngModel)]='row["Current Year Adjustment"][4]["name"]' ng-model-options="{'updateOn': 'default blur', 'debounce': { 'default': 250, 'blur': 0 }"/>
                    </div>
                    <input type="number" step="1.0" class=".input-sm" aria-describedby="basic-addon3"
                    [(ngModel)]='row["Current Year Adjustment"][4]["value"]' ng-model-options="{'updateOn': 'default blur', 'debounce': { 'default': 250, 'blur': 0 }"/>
                  </div>
                  <div class="input-group ">
                    <div class="input-group-prepend">
                      <input type="text" class=".input-sm" style="width: 150px;" aria-describedby="basic-addon3"
                      [(ngModel)]='row["Current Year Adjustment"][5]["name"]' ng-model-options="{'updateOn': 'default blur', 'debounce': { 'default': 250, 'blur': 0 }"/>
                    </div>
                    <input type="number" step="1.0" class=".input-sm" aria-describedby="basic-addon3"
                    [(ngModel)]='row["Current Year Adjustment"][5]["value"]' ng-model-options="{'updateOn': 'default blur', 'debounce': { 'default': 250, 'blur': 0 }"/>
                  </div>
                </accordion-group>
              </accordion>
              
            </td>
            
            <td class="table-condensed"><input type="text" class=".input-sm" [(ngModel)]='row["Current Year Audit"]' ng-model-options="{'updateOn': 'default blur', 'debounce': { 'default': 250, 'blur': 0 }"/></td>
          -->
          </tr>
          <tr >
            <td class="table-condensed" colspan="5"><hr/></td>
          </tr>
          <tr >
            <td class="table-condensed">(Profit)/ Loss</td>
            <td class="table-condensed" width="300px"></td>
            <td class="table-condensed" width="300px"></td>
            <td class="table-condensed" width="200px">{{getSumLA() | number:'2.2-2'}}</td>
            <td class="table-condensed" width="200px">{{getSumCA() | number:'2.2-2'}}</td>
          </tr>
        </tbody>
      </table>
      <!-- 
      <ngx-datatable class="bootstrap " [headerHeight]="50" [messages]="{emptyMessage:''}" [columnMode]="'force'"
        [footerHeight]="0" [rowHeight]="'auto'" [rows]="thisTB" [scrollbarH]="true">


        <ngx-datatable-column [sortable]="false" maxWidth="40" name="#">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <label>{{ rowIndex}}</label>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [sortable]="false" maxWidth="250" name="Account break down">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
              [(ngModel)]='thisTB[rowIndex]["Account break down"]' />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [sortable]="false" maxWidth="250" name="Group as per audit record">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
            [(ngModel)]='thisTB[rowIndex]["Group as per audit record"]' readonly />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [sortable]="false" maxWidth="100" name="Last Year Audit" aria-label="Last Year Audit">
          <ng-template let-column="column" ngx-datatable-header-template>
            <div class="text-center"> Last Year <br> Audit </div>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
            [(ngModel)]='thisTB[rowIndex]["Last Year Audit"]' />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [sortable]="false" maxWidth="100" name="Current Year Per Client">
          <ng-template let-column="column" ngx-datatable-header-template>
            <div class="text-center"> Current Year <br> Per Client </div>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
            [(ngModel)]='thisTB[rowIndex]["Current Year Pe Client"]' />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [sortable]="false" minWidth="300" maxWidth="300" name="Current Year Adjustment">
          <ng-template let-column="column" ngx-datatable-header-template>
            <div class="text-center"> Current Year <br> Adjustment </div>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <accordion>
              <accordion-group [isOpen]="false" [panelClass]="customClass">
                <span accordion-heading>
                  {{ getAdjustmentForHeader(thisTB[rowIndex]["Current Year Adjustment"]) }}
                </span>
                <div class="input-group ">
                  <div class="input-group-prepend ">
                    <span class="input-group-text "
                      style="width: 150px;">{{thisTB[rowIndex]["Current Year Adjustment"][0]["name"]}}</span>
                  </div>
                  <input type="number" step="1.0" class="form-control" aria-describedby="basic-addon3"
                  [(ngModel)]='thisTB[rowIndex]["Current Year Adjustment"][0]["value"]' />
                </div>
                <div class="input-group ">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      style="width: 150px;">{{thisTB[rowIndex]["Current Year Adjustment"][1]["name"]}}</span>
                  </div>
                  <input type="number" step="1.0" class="form-control" aria-describedby="basic-addon3"
                  [(ngModel)]='thisTB[rowIndex]["Current Year Adjustment"][1]["value"]' />
                </div>
                <div class="input-group ">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      style="width: 150px;">{{thisTB[rowIndex]["Current Year Adjustment"][2]["name"]}}</span>
                  </div>
                  <input type="number" step="1.0" class="form-control" aria-describedby="basic-addon3"
                  [(ngModel)]='thisTB[rowIndex]["Current Year Adjustment"][2]["value"]' />
                </div>
                <div class="input-group ">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      style="width: 150px;">{{thisTB[rowIndex]["Current Year Adjustment"][3]["name"]}}</span>
                  </div>
                  <input type="number" step="1.0" class="form-control" aria-describedby="basic-addon3"
                  [(ngModel)]='thisTB[rowIndex]["Current Year Adjustment"][3]["value"]' />
                </div>
                <div class="input-group ">
                  <div class="input-group-prepend">
                    <input type="text" class="form-control" style="width: 150px;" aria-describedby="basic-addon3"
                    [(ngModel)]='thisTB[rowIndex]["Current Year Adjustment"][4]["name"]' />
                  </div>
                  <input type="number" step="1.0" class="form-control" aria-describedby="basic-addon3"
                  [(ngModel)]='thisTB[rowIndex]["Current Year Adjustment"][4]["value"]' />
                </div>
                <div class="input-group ">
                  <div class="input-group-prepend">
                    <input type="text" class="form-control" style="width: 150px;" aria-describedby="basic-addon3"
                    [(ngModel)]='thisTB[rowIndex]["Current Year Adjustment"][5]["name"]' />
                  </div>
                  <input type="number" step="1.0" class="form-control" aria-describedby="basic-addon3"
                  [(ngModel)]='thisTB[rowIndex]["Current Year Adjustment"][5]["value"]' />
                </div>
              </accordion-group>
            </accordion>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [sortable]="false" maxWidth="100" name="Current Year Audit">
          <ng-template let-column="column" ngx-datatable-header-template>
            <div class="text-center"> Current Year <br> Audit </div>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
            [(ngModel)]='thisTB[rowIndex]["Current Year Audit"]' />
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      -->
      <!-- 
    </accordion-group>
    

  </accordion>
  -->
  <hr/>

  <button type="button" class="btn btn-primary btn-lg float-left" (click)="genDocSend()" >
    Proceed to Adjustments
  </button>

</div>

<div class="overlay-button">
  <div class="btn-group-vertical float-right">
  

<button type="button" class="btn btn-primary " (click)="scrollToTop()" >
  Top
</button>
<button type="button" class="btn btn-primary " (click)="scroll('input228')" >
  Goodwill
</button>
<button type="button" class="btn btn-primary " (click)="scroll('input495')" >
  Time deposits
</button>
<button type="button" class="btn btn-primary " (click)="scroll('input576')" >
  Finance lease
</button>
<button type="button" class="btn btn-primary " (click)="scroll('input690')" >
  Reserved 3 (equity)
</button>
<button type="button" class="btn btn-primary " (click)="scroll('input693')" >
  Income
</button>
<button type="button" class="btn btn-primary " (click)="scroll('input738')" >
  Cost of services
</button>
<button type="button" class="btn btn-primary " (click)="scroll('input741')" >
  Other income
</button>
<button type="button" class="btn btn-primary " (click)="scroll('input762')" >
  Operating expenses
</button>
<button type="button" class="btn btn-primary " (click)="scroll('input1368')" >
  Finance costs
</button>
<button type="button" class="btn btn-primary " (click)="scroll('input1386')" >
  Income tax expense
</button>
<button type="button" class="btn btn-primary " (click)="scroll('input1392')" >
  Bottom
</button> 


</div>
</div>
