<div class="animated fadeIn">
  <accordion>
    <accordion-group [isOpen]="true">
      <span accordion-heading >
        <button type="button" class="btn btn-link">5. Generate Report and Send</button>
      </span>
      This content is straight in the template.
    </accordion-group>
    <accordion-group  [isOpen]="true">
      <span accordion-heading>
        <button type="button" class="btn btn-link">6. Draft Sent Reminder</button>
      </span>
      This content is straight in the template.
    </accordion-group>
    <accordion-group  [isOpen]="true">
      <span accordion-heading>
        <button type="button" class="btn btn-link">7. Origin Sent</button>
      </span>
      This content is straight in the template.
    </accordion-group>
  </accordion>
</div>
