<div class="animated fadeIn">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">Co Name</span>
    </div>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" value="{{ id }}" readonly />
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="change-of-name">Change of name</span>
    </div>
    <input type="text" class="form-control" placeholder="Change of name" aria-label="Change of Name"
      aria-describedby="Change of name" [(ngModel)]="accountDetail['change-of-name']" [disabled]="isReadOnly" />
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="older-name">Older name</span>
    </div>
    <input type="text" class="form-control" placeholder="Older Name" aria-label="Older name"
      aria-describedby="Older name" [(ngModel)]="accountDetail['older-name']" [disabled]="isReadOnly" />
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="date-of-name-change">Date of name change(i.e. 15 Mar 2019)</span>
    </div>
    <input type="text" placeholder="" class="form-control" [(ngModel)]="accountDetail['date-of-name-change'] "
      bsDatepicker [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}" [disabled]="isReadOnly" />
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="limited-by-shares-or-guarantee">Limited by shares or guarantee</span>
    </div>
    <select class="custom-select" id="limited-by-shares-or-guarantee-input"
      [(ngModel)]="accountDetail['limited-by-shares-or-gurantee']" [disabled]="isReadOnly" [disabled]="isReadOnly">
      <option value=" 1" selected>Limited by share</option>
      <option value="2">Limited by guarantee</option>
    </select>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="financial-reporting">Financial reporting</span>
    </div>
    <input type="text" class="form-control" placeholder="Financial reporting" aria-label="Financial reporting"
      aria-describedby="Financial reporting" [(ngModel)]="accountDetail['financial-reporting']"
      [disabled]="isReadOnly" />
  </div>

  <label for="basic-url">Directors</label>

  <ngx-datatable class="bootstrap fullscreen" [headerHeight]="50" [limit]="100" [columnMode]="'force'"
    [footerHeight]="50" [rowHeight]="'auto'" [rows]="tableRows" [scrollbarH]="true">
    <ngx-datatable-column *ngFor="let label of tableHeaders" [name]="label.name" [prop]="label.prop" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <span title="double Click here " (dblclick)="editCell(label.prop, rowIndex)"
          *ngIf="!editing[rowIndex + '-' + label.prop]" class="container-fluid">
          {{ value }}
        </span>
        <input autofocus (blur)="updateValue($event, label.prop, rowIndex)"
          (keyup.enter)="updateValue($event, label.prop, rowIndex)" *ngIf="editing[rowIndex + '-' + label.prop]"
          [type]="label.inputType" class="form-control" [value]="value" [disabled]="isReadOnly" />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Action" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <button (click)="deleteRow(rowIndex)" *ngIf="!isReadOnly">remove</button>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-footer>
      <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
        let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
        <div class="page-count">
          <span *ngIf="selectedMessage">
            {{ selectedCount.toLocaleString() }} {{ selectedMessage }} /
          </span>
          {{ rowCount.toLocaleString() }} {{ totalMessage }}
          <a href="javascript:void(0)" (click)="add()" class="float-right" *ngIf="!isReadOnly">Add a new column</a>
        </div>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
  <hr />
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="principal-activities">Principal activities</span>
    </div>
    <input type="text" class="form-control" placeholder="Principal activities" aria-label="Principal activities"
      aria-describedby="Principal activities" [(ngModel)]="accountDetail['financial-activities']"
      [disabled]="isReadOnly">
  </div>

  <div class=" input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="director-appointment-clause">Director- Appointment clause</span>
    </div>
    <select class="custom-select" id="director-appointment-clause-input"
      [(ngModel)]="accountDetail['director-appointment-clause']" [disabled]="isReadOnly">
      <option value=" 1" selected>Retired and eligible</option>
      <option value="2">No provision</option>
      <option value="3">Unlimited</option>
      <option value="4">re-elected</option>
    </select>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="permitted-indemnity">Permitted Indemnity</span>
    </div>
    <select class="custom-select" id="permitted-indemnity-input" [(ngModel)]="accountDetail['permitted-indemnity']"
      [disabled]="isReadOnly">
      <option value=" 1" selected>No</option>
      <option value="2">Yes</option>
    </select>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="nature-of-income">Nature of income</span>
    </div>
    <select class="custom-select" id="nature-of-income-input" [(ngModel)]="accountDetail['nature-of-income']"
      [disabled]="isReadOnly">
      <option value=" 1" selected>Sales</option>
      <option value="2">Services</option>
      <option value="3">No income</option>
      <option value="4">Rental</option>
      <option value="5">Dormant</option>
      <option value="6">Donation and divident income</option>
    </select>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="offshore">Offshore</span>
    </div>
    <input type="text" class="form-control" placeholder="" aria-label="Offshore" aria-describedby="Offshore"
      [(ngModel)]="accountDetail['offshore']" [disabled]="isReadOnly" />
  </div>

  <div class=" input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="last-year-is-period-or-first-incop">Last year is period or first incop</span>
    </div>
    <select class="custom-select" id="last-year-is-period-or-first-incop-input"
      [(ngModel)]="accountDetail['last-year-is-period-or-first-incop']" [disabled]="isReadOnly">
      <option value=" 1" selected>No</option>
      <option value="2">Yes</option>
    </select>
  </div>

  <div class=" input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="first-incorp-date">first incorp date (eg 15 Mar 17)</span>
    </div>
    <input type="text" placeholder="" class="form-control" [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}" bsDatepicker
      [(ngModel)]="accountDetail['first-incorp-date'] " [disabled]="isReadOnly" />
  </div>

  <div class=" input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="first-incorporated">First incorporated?</span>
    </div>
    <select class="custom-select" id="first-incorporated-input" [(ngModel)]="accountDetail['first-incorporated']"
      [disabled]="isReadOnly">
      <option value=" 1" selected>No</option>
      <option value="2">Yes</option>
    </select>
  </div>

  <div class=" input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="first-sme-frs">First SME FRS?</span>
    </div>
    <select class="custom-select" id="first-sme-frs-input" [(ngModel)]="accountDetail['first-sme-frs']"
      [disabled]="isReadOnly">
      <option value=" 1" selected>No</option>
      <option value="2">Yes</option>
    </select>
  </div>

  <div class=" input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="input-this-year-ye">Input this year YE here (eg 15 Mar 17)</span>
    </div>
    <input type="text" placeholder="" class="form-control" [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}" bsDatepicker
      [(ngModel)]="accountDetail['input-this-year-ye'] " [disabled]="isReadOnly" />
  </div>

  <div class=" input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="currenccy">Currency</span>
    </div>
    <select class="custom-select" id="currency-input" [(ngModel)]="accountDetail['currency']" [disabled]="isReadOnly">
      <option value=" 1" selected>HK$</option>
      <option value="2">US$</option>
      <option value="3">CAD</option>
      <option value="4">EUR</option>
      <option value="5">AUD</option>
      <option value="6">GBP</option>
    </select>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="type-of-co">Type of Co</span>
    </div>
    <select class="custom-select" id="type-of-co-input" [(ngModel)]="accountDetail['type-of-co']"
      [disabled]="isReadOnly">
      <option value=" 1" selected>Company</option>
      <option value="2">Association</option>
      <option value="3">Group</option>
    </select>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="no-shares">No. shares</span>
    </div>
    <input type="text" class="form-control" placeholder="" aria-label="No. shares" aria-describedby="No. shares"
      [(ngModel)]="accountDetail['no-shares']" [disabled]="isReadOnly" />
  </div>

  <div class=" input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="ro">RO</span>
    </div>
    <input type="text" class="form-control" placeholder="" aria-label="RO" aria-describedby="RO"
      [(ngModel)]="accountDetail['ro']" [disabled]="isReadOnly" />
  </div>

  <div class=" input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="any-holding-co">Any holding co</span>
    </div>
    <select class="custom-select" id="any-holding-co-input" [(ngModel)]="accountDetail['any-holding-co']"
      [disabled]="isReadOnly">
      <option value=" 1" selected>No</option>
      <option value="2">Yes</option>
    </select>
  </div>

  <div class=" input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="any-immediate-co">Any immediate co</span>
    </div>
    <select class="custom-select" id="any-immediate-co-input" [(ngModel)]="accountDetail['any-immediate-co']"
      [disabled]="isReadOnly">
      <option value=" 1" selected>No</option>
      <option value="2">Yes</option>
    </select>
  </div>
  <hr />
  <label>Sub</label>
  <ngx-datatable class=" bootstrap fullscreen" [headerHeight]="50" [limit]="100" [columnMode]="'force'"
    [footerHeight]="50" [rowHeight]="'auto'" [rows]="tableRowsSub" [scrollbarH]="true">
    <ngx-datatable-column *ngFor="let label of tableHeadersSub" [name]="label.name" [prop]="label.prop"
      [sortable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <span title="double Click here " (dblclick)="editCellSub(label.prop, rowIndex)"
          *ngIf="!editingSub[rowIndex + '-' + label.prop]" class="container-fluid">
          {{ value }}
        </span>
        <input autofocus (blur)="updateValue($event, label.prop, rowIndex)"
          (keyup.enter)="updateValueSub($event, label.prop, rowIndex)" *ngIf="editingSub[rowIndex + '-' + label.prop]"
          [type]="label.inputType" class="form-control" [value]="value" [disabled]="isReadOnly" />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Action" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <button (click)="deleteRowSub(rowIndex)" *ngIf="!isReadOnly">remove</button>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-footer>
      <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
        let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
        <div class="page-count">
          <span *ngIf="selectedMessage">
            {{ selectedCount.toLocaleString() }} {{ selectedMessage }} /
          </span>
          {{ rowCount.toLocaleString() }} {{ totalMessage }}
          <a href="javascript:void(0)" (click)="addSub()" class="float-right" *ngIf="!isReadOnly">Add a new column</a>
        </div>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
  <hr />
  <label>Asso</label>
  <ngx-datatable class="bootstrap fullscreen" [headerHeight]="50" [limit]="100" [columnMode]="'force'"
    [footerHeight]="50" [rowHeight]="'auto'" [rows]="tableRowsAsso" [scrollbarH]="true">
    <ngx-datatable-column *ngFor="let label of tableHeadersAsso" [name]="label.name" [prop]="label.prop"
      [sortable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <span title="double Click here " (dblclick)="editCellAsso(label.prop, rowIndex)"
          *ngIf="!editingAsso[rowIndex + '-' + label.prop]" class="container-fluid">
          {{ value }}
        </span>
        <input autofocus (blur)="updateValue($event, label.prop, rowIndex)"
          (keyup.enter)="updateValueAsso($event, label.prop, rowIndex)" *ngIf="editingAsso[rowIndex + '-' + label.prop]"
          [type]="label.inputType" class="form-control" [value]="value" [disabled]="isReadOnly" />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Action" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <button (click)="deleteRowAsso(rowIndex)" *ngIf="!isReadOnly">remove</button>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-footer>
      <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
        let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
        <div class="page-count">
          <span *ngIf="selectedMessage">
            {{ selectedCount.toLocaleString() }} {{ selectedMessage }} /
          </span>
          {{ rowCount.toLocaleString() }} {{ totalMessage }}
          <a href="javascript:void(0)" (click)="addAsso()" class="float-right" *ngIf="!isReadOnly">Add a new column</a>
        </div>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
  <hr />
  <label>Shareholders</label>

  <ngx-datatable class="bootstrap fullscreen" [headerHeight]="50" [limit]="100" [columnMode]="'force'"
    [footerHeight]="50" [rowHeight]="'auto'" [rows]="tableRowsShareHolder" [scrollbarH]="true">
    <ngx-datatable-column *ngFor="let label of tableHeadersShareHolder" [name]="label.name" [prop]="label.prop"
      [sortable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <span title="double Click here " (dblclick)="editCellShareHolder(label.prop, rowIndex)"
          *ngIf="!editingShareHolder[rowIndex + '-' + label.prop]" class="container-fluid">
          {{ value }}
        </span>
        <input autofocus (blur)="updateValue($event, label.prop, rowIndex)"
          (keyup.enter)="updateValueShareHolder($event, label.prop, rowIndex)"
          *ngIf="editingShareHolder[rowIndex + '-' + label.prop]" [type]="label.inputType" class="form-control"
          [value]="value" [disabled]="isReadOnly" />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Action" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <button (click)="deleteRowShareHolder(rowIndex)" *ngIf="!isReadOnly">remove</button>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-footer>
      <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
        let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
        <div class="page-count">
          <span *ngIf="selectedMessage">
            {{ selectedCount.toLocaleString() }} {{ selectedMessage }} /
          </span>
          {{ rowCount.toLocaleString() }} {{ totalMessage }}
          <a href="javascript:void(0)" (click)="addShareHolder()" class="float-right" *ngIf="!isReadOnly">Add a new
            column</a>
        </div>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
  <hr />
  <label>Amount due from (to) related companies</label>

  <ngx-datatable class="bootstrap fullscreen" [headerHeight]="50" [limit]="100" [columnMode]="'force'"
    [footerHeight]="50" [rowHeight]="'auto'" [rows]="tableRowsAmountdueCo" [scrollbarH]="true">
    <ngx-datatable-column *ngFor="let label of tableHeadersAmountdueCo" [name]="label.name" [prop]="label.prop"
      [sortable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <span title="double Click here " (dblclick)="editCellAmountdueCo(label.prop, rowIndex)"
          *ngIf="!editingAmountdueCo[rowIndex + '-' + label.prop]" class="container-fluid">
          {{ value }}
        </span>
        <input autofocus (blur)="updateValue($event, label.prop, rowIndex)"
          (keyup.enter)="updateValueAmountdueCo($event, label.prop, rowIndex)"
          *ngIf="editingAmountdueCo[rowIndex + '-' + label.prop]" [type]="label.inputType" class="form-control"
          [value]="value" [disabled]="isReadOnly" />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Action" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <button (click)="deleteRowAmountdueCo(rowIndex)" *ngIf="!isReadOnly">remove</button>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-footer>
      <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
        let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
        <div class="page-count">
          <span *ngIf="selectedMessage">
            {{ selectedCount.toLocaleString() }} {{ selectedMessage }} /
          </span>
          {{ rowCount.toLocaleString() }} {{ totalMessage }}
          <a href="javascript:void(0)" (click)="addAmountdueCo()" class="float-right" *ngIf="!isReadOnly">Add a new
            column</a>
        </div>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
  <hr />

  <label>Amount due from (to) fellow subsidiaries</label>

  <ngx-datatable class="bootstrap fullscreen" [headerHeight]="50" [limit]="100" [columnMode]="'force'"
    [footerHeight]="50" [rowHeight]="'auto'" [rows]="tableRowsAmountdueSub" [scrollbarH]="true">
    <ngx-datatable-column *ngFor="let label of tableHeadersAmountdueSub" [name]="label.name" [prop]="label.prop"
      [sortable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <span title="double Click here " (dblclick)="editCellAmountdueSub(label.prop, rowIndex)"
          *ngIf="!editingAmountdueSub[rowIndex + '-' + label.prop]" class="container-fluid">
          {{ value }}
        </span>
        <input autofocus (blur)="updateValue($event, label.prop, rowIndex)"
          (keyup.enter)="updateValueAmountdueSub($event, label.prop, rowIndex)"
          *ngIf="editingAmountdueSub[rowIndex + '-' + label.prop]" [type]="label.inputType" class="form-control"
          [value]="value" [disabled]="isReadOnly" />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Action" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <button (click)="deleteRowAmountdueSub(rowIndex)" *ngIf="!isReadOnly">remove</button>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-footer>
      <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
        let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
        <div class="page-count">
          <span *ngIf="selectedMessage">
            {{ selectedCount.toLocaleString() }} {{ selectedMessage }} /
          </span>
          {{ rowCount.toLocaleString() }} {{ totalMessage }}
          <a href="javascript:void(0)" (click)="addAmountdueSub()" class="float-right" *ngIf="!isReadOnly">Add a new
            column</a>
        </div>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>

  <hr />
  <button type="button" class="btn btn-primary btn-lg float-left" (click)="edit()" *ngIf="isReadOnly">
    Modify CO Info
  </button>
  <button type="button" class="btn btn-primary btn-lg float-right" (click)="save()">
    Confirm and Next
  </button>
  <br />


</div>
